*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  touch-action: pan-x pan-y;
  overscroll-behavior: contain;
}

body {
  height: 100vh;

  font-family: "Poppins", system-ui, sans-serif;

  overflow: hidden;
  user-select: none;
}
